.intro {
  color: white;
  display: flex;
  flex-direction: column;
  height: auto;

  &-main {
      display: flex;
      justify-content: space-around;
      align-items: center;

      &__avatar {
          display: flex;
          justify-content: center;

          img {
              height: 200px;
          }
      }

      &__age {
          text-align: center;
          font-size: 25px;
      }
  }

  &-contacts-header, 
  &-contacts {
      text-align: center;

      h2, p {
          margin: 0 auto;
      }
  }

  &-header {
      text-align: center;
      display: flex;
      justify-content: center;
  }

  &-main-left {
      width: 20%;
  }

  &-main-middle {
      width: 30%;
  }

  &-main-right {
      display: flex;
      flex-direction: column;
      width: 20%;
      text-align: center;
  }

  &-main__skills {
      font-size: 20px;
      font-weight: 600;

      strong {
          color: #cd5ff8;
      }
  }

  .skills-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  }

  .skill {
      width: auto;
      margin: 5px;
  }
}

@media (max-width: 800px) {
  .intro-main {
      flex-direction: column;
      align-items: center;

      > * {
          width: 100%;
      }

      &-middle p {
          margin-left: 20px;
          margin-right: 20px;
      }

      .skill {
          width: 30%;
      }
  }
}
