.heading {
    color: white;

    &-name, &-dev {
        color: white;
    }

    span {
        display: inline-block;
        animation: wave-animation 2.1s infinite;
        transform-origin: 70% 70%;
    }
}

@keyframes wave-animation {
    0%, 100% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(15deg);
    }
}

.main {
    height: 900px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &-left {
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &-right img {
        max-height: 400px;
    }

    &-name {
        color: #cd5ff8;
    }
}

.heading-dev {
    color : #cd5ff8;
}

@media (max-width: 1000px) {
    .main-right img {
        max-height: 200px;
    }
}

@media (max-width: 600px) {
    .main-right img {
        display: none;
    }
}
