
.skill {
    border: 2px solid rgba(200,137,230,.637);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;  
    text-align: center;
  }
  
  .skill-logo {
    max-height: 50px; 
    width: auto;
  }
  